:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --logo-header-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --main-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --portfolio-background-color: #e5e5e5;
  --hero-bg-color: #c4c4c4;
  --hero-overlay: rgba(47, 48, 58, 0.4);
  --procedures-overlay: rgba(47, 48, 58, 0.8);
  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --icon-color: #afb1b8;
  --footer-icon-bg: rgba(255, 255, 255, 0.1);
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --portfolio-card-overlay: rgba(33, 150, 243, 0.9);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
  }
}

.header {
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--header-border-color);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}
.logo--dark {
  color: var(--logo-header-color);
}
.logo--light {
  color: var(--secondary-text-color);
}
.logo--top {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .logo--top {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo--top {
    margin-right: 93px;
  }
}
@media screen and (min-width: 768px) {
  .logo--top {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo--top {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.logo--bottom {
  display: inline-block;
  margin-bottom: 20px;
}

.menu__btn {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: none;
  fill: #000000;
  transition: fill 250ms var(--transition-timing-function);
}
.menu__btn:hover, .menu__btn:focus {
  fill: var(--accent-text-color);
}
@media screen and (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}

.navigation__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    column-gap: 50px;
    color: var(--title-text-color);
  }
}

.navigation__link {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
    transition: color 250ms var(--transition-timing-function);
  }
  .navigation__link--active {
    color: var(--accent-text-color);
    position: relative;
  }
  .navigation__link--active::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    display: inline-block;
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--accent-text-color);
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--accent-text-color);
  }
}

.connects {
  display: none;
}
@media screen and (min-width: 768px) {
  .connects {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 10px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .connects {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .connects {
    column-gap: 50px;
  }
}

.connects__link {
  display: none;
}
@media screen and (min-width: 768px) {
  .connects__link {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
    transition: color 250ms var(--transition-timing-function);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .connects__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .connects__link:hover, .connects__link:focus {
    color: var(--accent-text-color);
    fill: currentColor;
  }
}

.connects__icon--mail {
  display: none;
}
@media screen and (min-width: 768px) {
  .connects__icon--mail {
    display: block;
    width: 14px;
    height: 10px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .connects__icon--mail {
    width: 16px;
    height: 12px;
  }
}

.connects__icon--tel {
  display: none;
}
@media screen and (min-width: 768px) {
  .connects__icon--tel {
    display: block;
    width: 10px;
    height: 14px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .connects__icon--tel {
    width: 10px;
    height: 16px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  width: 100%;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__btn {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.benefits {
  padding-top: 60px;
  background-color: var(--main-background-color);
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
  }
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.benefits-list-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits-list-title {
    text-align: left;
  }
}
.benefits-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.benefits-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-item {
    width: calc((100% - 90px) / 4);
  }
}
.benefits-item-icon-block {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
  background: var(--secondary-background-color);
  border-radius: 4px;
}
.benefits-item-icon {
  width: 70px;
  height: 70px;
}

.procedures {
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .procedures {
    padding-bottom: 94px;
  }
}

.procedures-title {
  display: none;
}
@media screen and (min-width: 1200px) {
  .procedures-title {
    display: block;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
}

.procedures-list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .procedures-list {
    display: flex;
    column-gap: 30px;
  }
}

.procedures-item {
  display: none;
}
@media screen and (min-width: 1200px) {
  .procedures-item {
    display: block;
    width: calc((100% - 60px) / 3);
    position: relative;
  }
  .procedures-item-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: var(--procedures-overlay);
  }
  .procedures-item-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
  }
}

.team {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
  }
}

.team-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team-list-item {
  width: 100%;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-list-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list-item {
    width: calc((100% - 90px) / 4);
  }
}
.team-list-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-list-work {
  margin-bottom: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.team-list-soc {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}

.team-worker {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team-worker {
    padding-bottom: 30px;
  }
}

.team-list-soc-link {
  display: flex;
  height: 44px;
  width: 44px;
  background-color: var(--main-background-color);
  color: var(--icon-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: color 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function);
}
.team-list-soc-link:hover, .team-list-soc-link:focus {
  background-color: var(--accent-text-color);
  color: var(--secondary-text-color);
}

.soc-link-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  background-color: var(--main-background-color);
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
  }
}
.clients-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.clients-item-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  outline: transparent;
  background-color: transparent;
  border: 1px solid var(--icon-color);
  color: var(--icon-color);
  border-radius: 4px;
  transition: color 250ms var(--transition-timing-function), border-color 250ms var(--transition-timing-function);
}
.clients-item-link:hover, .clients-item-link:focus {
  border-color: var(--accent-text-color);
  color: var(--accent-text-color);
}

.clients-logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  align-items: baseline;
}

.address {
  font-style: normal;
}
.address__text {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.contacts__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
  transition: color 250ms var(--transition-timing-function);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-text-color);
}

.contacts__item {
  margin-bottom: 9px;
}
.contacts__item:last-child {
  margin-bottom: 0;
}

.social {
  margin-left: 70px;
}
.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.subscription__title,
.social__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.social__list {
  display: flex;
  column-gap: 10px;
}

.social__link {
  display: flex;
  height: 44px;
  width: 44px;
  background-color: var(--footer-icon-bg);
  color: var(--main-background-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--transition-timing-function);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-text-color);
}

.subscription {
  margin-left: auto;
}
.subscription__form {
  display: flex;
  column-gap: 12px;
}

.subscription__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--secondary-text-color);
}
.subscription__input::placeholder {
  font-family: inherit;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  fill: var(--secondary-text-color);
  transition: border-color 250ms var(--transition-timing-function), color 250ms var(--transition-timing-function), fill 250ms var(--transition-timing-function);
}
.subscription__btn:hover, .subscription__btn:focus {
  border-color: var(--accent-text-color);
  background-color: transparent;
  fill: var(--accent-text-color);
  color: var(--accent-text-color);
}

.portfolio {
  padding-top: 60px;
  background-color: var(--main-background-color);
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
  }
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 40px;
  max-width: 326px;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    max-width: 100%;
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list {
    margin-bottom: 50px;
  }
}

.portfolio-list-btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: var(--secondary-background-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: color 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function), box-shadow 250ms var(--transition-timing-function);
}
.portfolio-list-btn.active-btn, .portfolio-list-btn:hover, .portfolio-list-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list-works {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-works-item {
  width: 100%;
  background-color: var(--main-background-color);
}
@media screen and (min-width: 768px) {
  .portfolio-works-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-works-item {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio-list-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms var(--transition-timing-function);
  background-color: var(--portfolio-card-overlay);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 480px) {
  .portfolio-overlay-text {
    font-size: 18px;
  }
}

.portfolio-list-link {
  display: block;
  text-decoration: none;
  outline: transparent;
  transition: box-shadow 250ms var(--transition-timing-function);
}
.portfolio-list-link:hover, .portfolio-list-link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list-link:hover .portfolio-overlay-text, .portfolio-list-link:focus .portfolio-overlay-text {
  transform: translateY(0%);
}

.portfolio-list-name {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--portfolio-border-color);
  border-top: 0px;
}

.portfolio-list-works-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-list-works-kind {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--transition-timing-function), visibility 250ms var(--transition-timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0);
}

.modal-window {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--transition-timing-function);
}
.modal-window-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--main-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.icon-close {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  fill: #000000;
  transform: translate(-50%, -50%);
  transition: fill 250ms var(--transition-timing-function);
}
.modal-window-close:hover .icon-close, .modal-window-close:focus .icon-close {
  fill: var(--accent-text-color);
}

.modal-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-form-wrap {
  width: 100%;
  margin-bottom: 10px;
}
.modal-form-wrap:nth-child(4) {
  margin-bottom: 20px;
}

.modal-label {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--transition-timing-function);
  outline: none;
}
.modal-input:focus {
  border-color: var(--accent-text-color);
}

.icon-modal {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 14px;
  top: 30px;
  transition: fill 250ms var(--transition-timing-function);
}
.modal-input:focus + .icon-modal {
  fill: var(--accent-text-color);
}

.modal-comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms var(--transition-timing-function);
  outline: none;
}
.modal-comment:focus {
  border-color: var(--accent-text-color);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.confirm-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.confirm-label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.link-confirm {
  position: relative;
  margin-left: 4px;
  padding: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-text-color);
  outline-color: var(--accent-text-color);
}
.link-confirm::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 1px;
  background-color: var(--accent-text-color);
}

.icon-no-active-checkbox,
.icon-check {
  width: 16px;
  height: 15px;
  transition: opacity 250ms var(--transition-timing-function);
}

.icon-no-active-checkbox {
  margin-right: 7px;
  fill: #000000;
  transition: fill 250ms var(--transition-timing-function);
}
.input-confirm:checked + .icon-no-active-checkbox {
  opacity: 0;
}
.input-confirm:focus ~ .icon-no-active-checkbox {
  fill: var(--accent-text-color);
}

.icon-check {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--accent-text-color);
  fill: var(--main-background-color);
  border-radius: 2px;
  opacity: 0;
  transition: fill 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function);
}
.input-confirm:checked ~ .icon-check {
  opacity: 1;
}

.btn-modal {
  margin-left: auto;
  margin-right: auto;
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: box-shadow 250ms var(--transition-timing-function);
}
.btn-modal:hover, .btn-modal:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}/*# sourceMappingURL=main.css.map */