:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --logo-header-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --main-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --portfolio-background-color: #e5e5e5;
  --hero-bg-color: #c4c4c4;
  --hero-overlay: rgba(47, 48, 58, 0.4);
  --procedures-overlay: rgba(47, 48, 58, 0.8);
  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --icon-color: #afb1b8;
  --footer-icon-bg: rgba(255, 255, 255, 0.1);
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --portfolio-card-overlay: rgba(33, 150, 243, 0.9);
}