.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    @include tablet {
      flex-wrap: wrap;
    }
    @include desktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.address {
  font-style: normal;
  &__text {
    margin-bottom: 8px;
    @include tablet {
      margin-bottom: 9px;
    }
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
}

// Додано для моб
.contacts {
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    margin-right: 0;
    margin-left: 0;
  }
}

.contacts__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);

  transition: color 250ms var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.contacts__item {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  @include tablet {
    margin-bottom: 9px;
  }
  @include desktop {
    display: block;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.social {
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    margin-left: 0;
    margin-right: 0;
  }
  @include desktop {
    margin-left: 70px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}

.subscription__title,
.social__title {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  text-align: center;
  @include desktop {
    text-align: left;
  }
}

.social__list {
  display: flex;
  column-gap: 10px;
}

.social__link {
  display: flex;
  height: 44px;
  width: 44px;
  background-color: var(--footer-icon-bg);
  color: var(--main-background-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }
}

.subscription {
  margin-left: auto;
  margin-right: auto;
  @include desktop {
    margin-left: 0;
    margin-right: 0;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    @include tablet {
      display: block;
    }
    @include desktop {
      display: flex;
      gap: 12px;
      justify-content: left;
    }
  }
  &__label {
    width: 100%;
    @include tablet {
      width: 450px;
    }
    @include desktop {
      width: 358px;
    }
  }
}

.subscription__input {
  width: 100%;
  @include tablet {
    width: 450px;
    margin-bottom: 20px;
  }
  @include desktop {
    width: 358px;
  }
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--secondary-text-color);
  &::placeholder {
    font-family: inherit;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscription__btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  height: 50px;

  @include tablet {
    margin-left: auto;
    margin-right: auto;
  }
  @include desktop {
    margin-left: 0;
    margin-right: 0;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;

  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  fill: var(--secondary-text-color);
  transition: border-color 250ms var(--transition-timing-function),
    color 250ms var(--transition-timing-function),
    fill 250ms var(--transition-timing-function);
  &:hover,
  &:focus {
    border-color: var(--accent-text-color);
    background-color: transparent;
    fill: var(--accent-text-color);
    color: var(--accent-text-color);
  }
}

.footer__wrap {
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  @include desktop {
    width: auto;
  }
}
